#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 90%;
}

.clocked-out{
  text-decoration: line-through;
}


@media only screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }
}